@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&display=swap');

body{
    padding: 0;
    margin: 0 auto;
    font-family: 'Nunito';
    background-color: #F8F9FA;
}

body.lock{
    overflow: hidden;
}

button{
    cursor: pointer;
}

a{
    cursor: pointer;
    text-decoration: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.cursor{
    cursor: pointer;
}

.wrapper{
    display: grid;
    grid-template-columns: 15.63vw 84.38vw;
}

/*side-menu*/

.side-menu{
    float: left;
    background-color: #2358C2;
    width: 15.63vw;
    color: white;
    position: fixed;
    height: 100%;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 3.13vw;
}

.logo img{
    width: 9.58vw;
}

.account{
    margin: 30% 28% 20% 28%;
    text-align: center;
}

.account_name{
    font-size: 1.15vw;
    margin-top: 3%;
}

.menu{
    margin-top: 22%;
}

.menu-item{
    padding-left: 15%;
    font-size: 1.25vw;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.menu-item:hover {
    background-color: #4B87FF;
    width: 70%;
    height: 20%;
    transition: .8s;
}

.menu-item_text{
    margin-left: 5%;
    font-size: 0.9vw;
}

.menu-item_img{
    width: 1vw;
    height: 1vw;
}

.exit{
    position: absolute;
    bottom: 0;
    left: 5.4vw;
    margin-bottom: 3vw;
}

.exit_text{
    font-size: 0.9vw;
    margin-left: 0.5vw;
}

.exit_img{
    height: 1vw;
}

/*account*/
.title{
    font-size: 1.67vw;
    font-weight: 900;
    margin-bottom: 1.56vw;
}

.container{
    margin: 2.60vw;
}

.user{
    justify-content: space-between;
}

.user-account{
    width: 62.5vw;
    height: 17.71vw;
    background: white;
    border-radius: 8px;
}

.user-header{
    height: 5vw;
    display: flex;
    align-items: center;
    padding-left: 2.6vw;
    font-size: 1.4vw;
    font-weight: 900;
    box-shadow: 0px 6px 58px rgb(231 231 231 / 45%);
}

.user{
    height: 13.13vw;
    display: flex;
    align-items: center;
}

.user_info img{
    width: 8.85vw;
    margin-left: 2.6vw;
    margin-right: 2.6vw;
}

.user-info{
    justify-content: center;
}

.user_group{
    font-size: 0.83vw;
    background: #4184F4;
    color: white;
    width: 3.75vw;
    height: 1.56vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 0.68vw;
}

.user_name,.user_status{
    font-size: 1vw;
    font-weight: 700;
    margin-bottom: 1vh;
}

.account_edit{
    margin-right: 2.6vw;
}

.account_edit button{
    width: 13.54vw;
    height: 2.08vw;
    font-size: 0.75vw;
    font-weight: 700;
    box-shadow: 0px 3px 10px rgba(154, 154, 154, 0.25);
    border-radius: 27px;
    border: none;
}

.edit{
    background: #F7F8FA;
    margin-bottom: 1.25vw;
}

.edit:hover{
    background: #f0f5ff;
}

.theme{
    background: white;
}

.theme:hover{
    background: #eeeeee;
}

.learning-progress{
    width: 14vw;
    height: 17.71vw;
    background: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.pie {
    --w: 11vw;
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    place-content: center;
    font-size: 1.8vw;
    font-weight: bold;
}

.pie:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
    mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}

.circle {
    margin-top: 2.3vh;
    border: 1.4vw solid #DCEAFF;
    border-radius: 50%;
    height: 8.33vw;
    width: 8.33vw;
}

.point{
    background: #4184F4;
    border-radius: 5px;
    width: 0.47vw;
    height: 0.47vw;
    margin-right: 0.73vw;
}

.days{
    align-items: center;
    font-size: 0.9vw;
    width: 10vw;
    margin-bottom: 1vh;
    position: relative;
    left: -1vw;
}

.indicators{
    width: 26.04vw;
    height: 3.13vw;
    background: white;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
}

.indicator{
    font-size: 0.94vw;
    align-items: center;
}

.weekend, .sdo, .study{
    width: 1.35vw;
    height: 1.35vw;
    border-radius: 50%;
    margin-right: 0.5vw;
}

.weekend{
    background: #4184F4;
}

.sdo{
    background: #DCEAFF;
}

.study{
    background: #FFFFFF;
    border: 2px solid #D6D6D6;
}